# modified version of:
# https://github.com/github/gitignore


# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Dep files
*.dep

# Linker mapping
*.map

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Notepad++ backups #
*.bak
